{% extends 'base.html' %} {% block title %} Beatmap {{ bmsId }} {% endblock %}
{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="/static/js/asserts/day-js/dayjs.min.js"></script>
<script src="/static/js/asserts/day-js/locale/pt-br.js"></script>
<script src="/static/js/asserts/day-js/plugin/relativeTime.js"></script>
<script src="/static/js/asserts/day-js/plugin/utc.js"></script>

<!-- <meta http-equiv="refresh" content="1"> -->
<script>
  let matchId = "{{ match_id }}";
  dayjs.extend(window.dayjs_plugin_relativeTime);
  dayjs.extend(window.dayjs_plugin_utc);
  dayjs.locale("pt-br");
</script>

<link rel="stylesheet" href="/static/css/pages/leaderboard.css" />
<link rel="stylesheet" href="/static/css/pages/beatmapset.css" />

{% endblock %}
